<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template-footer</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../css/header.css" />
    <link rel="stylesheet" href="../../css/footer.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="container">
        <div class="footer__wrapper">
          <ul class="footer__wrapper__lists">
            <li><b class="footer__wrapper__title">Services</b></li>
            <li>
              <a href="#" class="footer__wrapper-link"
                ><i class="fa-solid fa-chart-column"></i>Planning & Strategy</a
              >
            </li>
            <li>
              <a href="#" class="footer__wrapper-link">IT & development</a>
            </li>
            <li><a href="#" class="footer__wrapper-link">Marketing</a></li>
            <li><a href="#" class="footer__wrapper-link">Startups</a></li>
          </ul>
          <ul class="footer__wrapper__lists">
            <li><b class="footer__wrapper__title">Company</b></li>
            <li><a href="#" class="footer__wrapper-link">About us</a></li>
            <li><a href="#" class="footer__wrapper-link">Potfolio</a></li>
            <li><a href="#" class="footer__wrapper-link">Vacancies</a></li>
            <li><a href="#" class="footer__wrapper-link">Blog</a></li>
          </ul>
          <ul class="footer__wrapper__lists">
            <li><b class="footer__wrapper__title">Enterprise</b></li>
            <li>
              <a href="#" class="footer__wrapper-link">Ready businesses</a>
            </li>
            <li><a href="#" class="footer__wrapper-link">Startups</a></li>
            <li><a href="#" class="footer__wrapper-link">Real estate</a></li>
            <li><a href="#" class="footer__wrapper-link">Companies</a></li>
          </ul>
          <div class="footer__contact">
            <img
              class="footer__logo"
              src="../../img/footer-logo.png"
              alt="Logo"
            />
            <p class="footer__call">
              hi@upsilonit.com <br /><br />
              +1 (650) 995-5553
            </p>
            <div class="footer__brands">
              <a class="footer__icon" href="#"
                ><i class="fab fa-instagram"></i
              ></a>
              <a class="footer__icon" href="#"
                ><i class="fab fa-linkedin"></i
              ></a>
              <a class="footer__icon" href="#"
                ><i class="fab fa-youtube"></i
              ></a>
              <a class="footer__icon" href="#"
                ><i class="fab fa-facebook"></i
              ></a>
              <a class="footer__icon" href="#"
                ><i class="fab fa-x-twitter"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__inner">
        <div class="container d-flex justify-between flex-wrap  ">
          <p >© 2023 Upsilon LLC. All Rights Reserved</p>
          <ul class="footer__inner__list d-flex">
            <li><a class="footer__list-link" href="#">Privacy Policy</a></li>
            <li><a class="footer__list-link" href="#">Terms of Service</a></li>
            <li><a class="footer__list-link" href="#">Cookie Policy</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
